/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*my code*/
@font-face {
    font-family: sa;
    src: url(../fonts/diploma.ttf);
}

@font-face {
    font-family: vc;
    src: url(../fonts/rageitalic.ttf);
}

@font-face {
    font-family: gta;
    src: url(../fonts/Pricedown.ttf);
}

* {
    box-sizing: border-box;
    font-family: 'DM Sans';
}

body {
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

@media only screen and (min-width: 300px) {
main .gta-3 {
    background-image: url(../img/gta3.png);
}

main .gta-3 h2 {
    padding: 15px 24px;
    background-color: #fff;
    color: #111;
    font-family: Poppins;
    font-size: 1rem;
}

main section article {
    padding: 15px 24px;
    background-color: #fff;
    margin-top: 5%;
}

main section article h1 {
    font-size: 40px;
    color: #111;
    margin-bottom: 25px;
    font-family:gta;
    text-align: center;
}

main section article p {
    color: #111;
    font-family: Poppins;
    font-size: 1rem;
    line-height: 24px;
}

main .vice-city {
    background-image: url(../img/vice-city.png);
}

main .vice-city article {
    margin-top: 60%;
}

main .vice-city span {
    color: #f195ac;
    text-decoration: underline;
    font-size: 60px;
    font-family: vc;
}

main .san-andreas {
    background-image: url(../img/sa.png);
}

main .san-andreas span {
    color: #000;
    font-size: 60px;
    font-family: sa;
}
}

@media only screen and (min-width: 700px) {
    main .vice-city article {
        margin-top: 25%;
    }
}

@media only screen and (min-width: 1000px) {
    section {
        background-attachment: fixed;
    }
}