/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*my code*/
@font-face {
    font-family: sa;
    src: url(../fonts/diploma.ttf);
}

@font-face {
    font-family: vc;
    src: url(../fonts/rageitalic.ttf);
}

@font-face {
    font-family: gta;
    src: url(../fonts/Pricedown.ttf);
}

* {
    box-sizing: border-box;
    font-family: 'DM Sans';
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main .gta-3 {
    background-image: url(../img/gta3.png);
}

main .vice-city {
    background-image: url(../img/vice-city.png);
}

main .san-andreas {
    background-image: url(../img/sa.png);
}

main section h2 {
    position: absolute;
    top: 50%;
    color: #fff;
    background-color: #000;
    letter-spacing: 5px;
    max-width: 500px;
    line-height: 24px;
    font-size: 18px;
    font-family: Poppins;
}

main section article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 45%;
    padding: 10px 40px;
    background-color: #fff;
    gap: 20px;
    margin-top: 35%;
}

main section article h1 {
    font-size: 65px;
    font-family: gta;
    color: #010101;
}

main section article p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 26px;
}

main .vice-city article h1 .vc-font {
color: #F27DFD;
text-decoration: underline;
font-size: 72px;
font-family: vc;
}

main .san-andreas article h1 .sa-font {
    color: #000;
    font-size: 72px;
    font-family: sa;
    }

@media only screen and (max-width: 999px) {
    main section {
        background-attachment: scroll;
    }

    main section article {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 80%;
        padding: 10px 40px;
        background-color: #fff;
        gap: 20px;
        margin-top: 100%;
    }

    main section article h1 {
        font-size: 35px;
        font-family: gta;
        color: #010101;
        text-align: center;
    }

    main .san-andreas article h1 .sa-font {
        color: #000;
        font-size: 42px;
        font-family: sa;
        }
}